@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
}


:root {
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --font-android: 'Android';
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color0);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\1F517\00A0';
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    text-align: center;
    padding-top: 50px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.3em;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);
}

nav {
    background-color: var(--color5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.377);
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    border-radius: 20px;
}

nav a:hover {
    background-color: var(--color2);
    color: var(--color5);
    text-decoration: underline;
    transition: .5s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

main h1 {
    background-image: linear-gradient(to right, var(--color2), transparent);
    color: var(--color5);
    font-family: var(--font-android);
    font-size: 1.6em;
    text-indent: 10px;
}

main h2 {
    background-image: linear-gradient(to right, var(--color1), transparent);
    color: var(--color4);
    font-family: var(--font-android);
    font-size: 1.5em;
    text-indent: 10px;
}

main img {
    width: 100%;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--color5);
    font-weight: bold;
    padding: 2px 6px;

}

main a {
    background-color: var(--color1);
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    
}

main a:hover {
    text-decoration: underline;
    color: var(--color2);
    background-color: var(--color5);
}

main .pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background-color: var(--color5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top : 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--color2);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.199);
}

aside h3 {
    background-color: var(--color4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.5em;
    text-align: center;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

aside > ul > li {
    padding-bottom: 5px;
    color: white;
}

abbr {
    text-decoration: none;
}

footer {
    background-color: var(--color5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--color1);
    text-decoration: underline;
    
}